article#projects {
  > section.page {
    max-width: 40rem;

    > h1 {
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    > ul {
      text-align: center;
      margin: 0 0 3rem 0;
      padding: 0;

      li {
        display: inline-block;
        background: @black-bg;
        width: 11rem;
        vertical-align: top;
        margin: 0 0 0.5rem 0.5rem;
        border-radius: 3px;
        padding: 0.5rem;

        &:last {
          margin-right: 0;
        }

        img {
          width: 100%;
          padding: 0.5rem 0.5rem 0 0.5rem;
          box-sizing: border-box;
        }
      }

      li, a {
        color: @grey-light;
      }
    }
  }
}
