---
title: Blog
---

{% extends 'subpage.html' %}

{% block content %}
<ul class="articles">
{% for article in articles %}
  <li>
    <a class="image" role="presentation" href="/{{ article.url }}"
       style="background-image: url(/{{ article.url }}/{{ article.coverThumb }})"></a>
    <div class="description">
      <h2><a href="/{{ article.url }}">{{ article.title }}</a></h2>
      <p class="subtitle">{{ article.subtitle }}</p>
    </div>
    <div class="info">
      <p>{{ article.date | date('j M Y') }}</p>
      {% if article.category %}
        <!-- <p class="category"><a href="/blog/{{ article.category }}">{{ article.category }}</a></p> -->
        <p class="category"><span>{{ article.category }}</span></p>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}
